@import './variable.scss';

.header-container {
  height: 4vw;
  background-color: $secondary-color;
  // border-bottom: 1px solid $primary-color;
}
.menu-container {
    height: 100vh;
    width: 12vw;
    background: $primary-color;
    color: $font-color;
    text-align: center;
    float: left;
    .menu-logo {
        height: 4vw;
        width: 100%;
        font-size: 2vw;
        justify-content: center;
        display: flex;
        padding: 1vw;
        img {
          width: 35%;
          height: 3vw;
          border-radius: 30%;
        }
        span {
          font-size: 1vw;
          padding-top: 1vw;
          color: $secondary-color;
          font-weight: bold;
        }
    }
    .side-menu {
        text-align: left;
        li {
            padding: 1vw;
            .menu-icon {
                width: 30%;
            }
        }
    }
    .menu-active {
      color: $white-color;
    }
    .side-menu li:hover {
      color: $white-color;
    }
}

.menu-close-container {
  @extend .menu-container;
  text-align: center;
  width: 5vw;      
  .menu-logo img {
    width: 100%;
  }
  .side-menu {
    li { 
      .menu-icon {
        width: 100%;
        font-size: 1.5vw;
      }
    }
  }
}

.header-menu {
  color: $primary-color;
  height: 100%;
  .menu-btn {
    font-size: 2vw;
    padding: 1vw;
  }
  .menu-btn:hover {
    color: $white-color;
  }
}